.clear[type="text"] {
	clear: both;
}

.pages-overview .grid-view:n-child(2) {
	width: 590px;
}

.pages-edit .grid-view#row {
	width: 470px;
}
.pages-edit span.grid-view#row {
	width: 470px;
}
.pages-overview .grid-view#row .column.actions,.pages-edit .grid-view .row .column.actions
	{
	width: 135px important!;
}

#pages-edit .grid-view {
	width: 470px;
}

div#pages-edit .grid-view {
	width: 470px;
}
.pages-edit .grid-vie#grid-view {
	width: 470px;
	background: #00ff00 url('smiley.gif') no-repeat fixed center;
}

#grid-view {
	width: 470px;
	box-shadow:10px 10px #888, -10px -10px #f4f4f4, 0px 0px 5px 5px #cc6600;
}